/*Main sections*/

.pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7%;
}

.mainText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mainText h1 {
  font-size: 7em;
  padding-right: 5%;
}

.mainText aside {
  font-size: 1.2em;
  padding-right: 5%;
}
