.home-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: top;
  padding: auto;
  width: fit-content;
  margin-top: 12vh;
}

.home-pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: min(2vw, 20px);

}


.home-pictures img {
  width: min(20vw, 200px);
  height: auto;
}

.home-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;

}

.home-text h1 {
  font-size: 7vw;
  padding-right: 5vw;
}

.home-text aside {
  font-size: 1.2vw;
  padding-right: 5vw;
}

