:root {
  --main-background-color: antiquewhite;
  --main-text-color: rgba(46, 29, 3, 0.7);
  --text-hover-color: rgb(185, 125, 34);
  }

body {
  /*background-image: url("pictures/background2.png");*/
  background-color: var(--main-background-color);
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 99vw;
}

/*Header*/

header {
  color: var(--main-text-color);
  font-weight: 500;
  background-color: var(--main-background-color);
  width: 100vw;
  text-align: center;
  position: fixed;
  height: 10vh;
  padding-top: min(2vw,20px);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header nav .mainNav {
  color: var(--main-text-color);
  text-decoration: none;
  font-size: min(2vw, 20px);

  padding: 0.5em;
  padding-top: 0.7em;

  width: auto;
  text-align: center;
}

header nav .mainNav:hover {
  color: var(--text-hover-color);
}

header nav nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header nav nav a {
  padding: 0.2vw;
}

.fa-brands {
  color: rgba(0, 0, 0, 0.5);
}

.fa-brands:hover {
  color: var(--text-hover-color);
}

header hr {
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 0;
  padding-bottom: 0;
}


/*Footer*/

footer {
  color: var(--text-hover-color);
  text-align: right;
  font-size: x-small;
  width: 99vw;
  padding: 0%;
  margin: 0%;
  margin-top: auto;
  display: flex;
  flex-direction:row;
  justify-content:end

}
