:root {
  --main-background-color: antiquewhite;
  --main-text-color: rgba(46, 29, 3, 0.7);
  --text-hover-color: rgb(185, 125, 34);
}

body {
  /*background-image: url("pictures/background2.png");*/
  background-color: antiquewhite;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Header*/

header {
  color: var(--main-text-color);
  font-weight: 500;
  background-color: var(--main-background-color);
  width: 100%;
  padding: 1em;
  text-align: center;
  position: fixed;
  top: 0;
  height: 7%;

  padding-top: 3%;
  padding-bottom: 0%;
  padding-left: 0;
  padding-right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 10vh;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header nav .mainNav {
  color: var(--main-text-color);
  text-decoration: none;

  padding: 0.5em;
  padding-top: 0.7em;

  width: fit-content;
  text-align: center;
}

header nav .mainNav:hover {
  color: var(--text-hover-color);
}

header nav nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header nav nav a {
  padding: 30%;
}

.fa-brands {
  color: var(--main-text-color);
}

.fa-brands:hover {
  color: var(--text-hover-color);
}

header hr {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

/*Footer*/

footer {
  color: rgb(119, 75, 8);
  text-align: right;
  font-size: x-small;
  width: 100%;
  padding: 0%;
  margin: 0%;
  margin-top: auto;
}

footer p {
  padding: 0%;
  margin: 0%;
  margin-right: 0.4%;
}
