/*About me css*/

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: top;
  padding: auto;
  width: fit-content;
  margin-top: 12vh;
}


.about-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: min(2vw, 20px);
}

.about-images img {
  width: min(20vw, 200px);
  height: auto;
}

.about-text {
  font-size: min(1.5vw, 1em);
  line-height: 1.5;
  margin: 2vw;
  margin-left: 12vw;
  width: 60%;
}
